html,
body {
  width: 100%;
  height: 100%;
}

html {
  background: #fff;
  overflow: hidden;
}

body {
  overflow: auto;
}

hr {
  margin: 1.5rem 0;
  background: transparent;
  border-width: 1px 0 0;
  border-color: $border-color transparent transparent;
  border-style: solid;
}

[role=banner] {
  text-align: center;
  background: #fcfcfc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQYV2NkQAMfPnz4z4gsBhIQEBBghAvCBECKwILIAmBBdAGQIAAIKxPVjKUJhAAAAABJRU5ErkJggg==);
  padding: 2.2rem 0.5rem 2.2rem;
  margin-bottom: 1rem;
}

[role=main] {
  padding-top: 1.5rem;
  padding-bottom: 3rem;
}

.ph14-wrap {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: .5rem;
  padding-right: .5rem;
}

.ph14-section {
  margin: 0 0 3rem;
}

.ph14-spacer {
  margin: 0 0 1rem;
}
