form {
  margin-bottom: 1rem;
}

fieldset {
  padding: 1rem 1rem .5rem;
  margin: 0 0 1.5rem;
  border: 1px dashed $border-color;
  
  legend {
    font-style: italic;
  }
}

label {
  display: inline-block;
  margin-right: .5rem;
  margin-bottom: .2rem;
  color: $text-color-dark;
  font-size: 1rem;
}

input,
select,
textarea {
  margin-bottom: 1rem;
  box-shadow: 0 0 0 1px $border-color;
  outline: 0;
  border: 2px solid transparent;
  transition: box-shadow 0.1s linear, border-color 0.1s linear;
  
  &:hover {
    box-shadow: 0 0 0 1px darken($border-color, 12%);
  }
  
  &:focus {
    box-shadow: none;
    border-color: $primary;
  }
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  color: $text-color;
  background: #fff;
  padding: .4rem .6rem;
  line-height: 1.4;
  
  &[disabled],
  &[disabled=disabled] {
    color: $text-color-light;
    background: $bg-light;
  }
}

input[type=checkbox],
input[type=radio] {
  margin: 0 .1rem 0 0;
  border: 0;
  box-shadow: none;
}

select {
  padding: 0.5rem;
}

input[type=submit],
input[type=button],
button,
[role=button] {
  appearance: none;
  padding: .5rem 1rem;
  line-height: 1.4;
  border: 0;
  outline: 0 !important;
  background: $primary;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 .2rem .2rem 0;
  box-shadow: 2px 2px darken($primary, 12%);
  border-radius: 3px;
  
  &:hover {
    background: lighten($primary, 4%);
  }
  
  &:focus,
  &:active {
    background: lighten($primary, 6%);
    box-shadow: inset 2px 2px 0 1px darken($primary, 4%);
  }
}