body {
  color: $text-color;
  font-family: $body-font;
  font-size: 17px;
  line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  margin: .6rem 0;
  line-height: 1.15;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0 2rem;
}

h1 + h2 {
  margin-top: -1.4rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
}

a {
  text-underline-position: under;
  text-decoration-skip: objects;
  
  &:link {
    color: $primary;
  }
  
  &:visited {
    color: $visited;
  }
  
  &:hover,
  &:focus {
    text-decoration: none;
  }
  
  &:focus {
    background: lighten($primary, 40%);
    outline: 2px solid lighten($primary, 40%);
  }
}

code,
kbd,
samp {
  color: #d41c78;
}

strong, b {
  color: $text-color-dark;
}

blockquote,
[role="note"] {
  border-left: 20px solid $border-color;
  padding: 1rem;
  margin: 2rem 0;
}

q {
  display: inline-block;
  padding: .1rem .2rem;
  margin: .2rem;
  background: $bg-light;
  font-style: italic;
}