$max-width: 40rem;

$header-font: 'sans-serif';
$body-font: 'sans-serif';

$primary: #2890d2;
$text-color: #555;
$text-color-dark: #222;
$text-color-light: #888;
$border-color: #ddd;
$bg-light: #f8f8f8;
